<?xml version="1.0"?>
<launch>
  <!-- launch mavros -->
  <arg name="fcu_url" default="/dev/ttyACM0" />
  <include file="$(find mavros)/launch/apm.launch">
    <!-- this must match the UP port-baud rate connected to Pixhawk -->
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>
  <!-- Our node to control the drone -->
  <node pkg="offboard" type="offb_node.py" name="offboard" required="true" output="screen" />
</launch>
